<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RWD DESIGN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="full-width">
        <a href="#" class="nav-logo">Logo</a>
        <a href="#" class="nav-toggleBtn">BTN</a>
        <div class="nav-collapse">
            <div class="nav-menu">
                <a href="#">關於</a>
                <a href="#">服務項目</a>
                <a href="#">產品介紹</a>
                <a href="#">聯絡我們</a>
            </div>
            <div class="nav-menu">
                <a href="#">搜尋</a>
                <a href="#">登入</a>
            </div>
        </div>
    </nav>
    <header class="full-width">
        <div class="row">
            <div class="col-6">
                <h1>RWD DESIGN</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam est ratione dolores nostrum perspiciatis quidem quae, delectus suscipit minus animi ducimus iure quo? Reprehenderit libero nulla impedit. Ipsam, neque consectetur.
                </p>
                <a href="#">MORE</a>
            </div>
        </div>
    </header>
    <div id="about" class="fixed-width">
        <div class="row">
            <div class="col-12">
                <h2>關於</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/15/600/400" alt="">
                    </div>
                    <div class="card-body">
                        <h3>title</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia perspiciatis eaque enim rerum, repudiandae labore.
                        </p>
                        <a href="#">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/25/600/400" alt="">
                    </div>
                    <div class="card-body">
                        <h3>title</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia perspiciatis eaque enim rerum, repudiandae labore.
                        </p>
                        <a href="#">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/35/600/400" alt="">
                    </div>
                    <div class="card-body">
                        <h3>title</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia perspiciatis eaque enim rerum, repudiandae labore.
                        </p>
                        <a href="#">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/45/600/400" alt="">
                    </div>
                    <div class="card-body">
                        <h3>title</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia perspiciatis eaque enim rerum, repudiandae labore.
                        </p>
                        <a href="#">Link</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div id="product" class="full-width">
        <div class="row no-padding">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="product-gallery">
                    <img src="https://picsum.photos/id/68/800" alt="">
                    <h3>Product 1</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="product-gallery">
                    <img src="https://picsum.photos/id/18/800" alt="">
                    <h3>Product 1</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="product-gallery">
                    <img src="https://picsum.photos/id/28/800" alt="">
                    <h3>Product 1</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="product-gallery">
                    <img src="https://picsum.photos/id/38/800" alt="">
                    <h3>Product 1</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="product-gallery">
                    <img src="https://picsum.photos/id/48/800" alt="">
                    <h3>Product 1</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="product-gallery">
                    <img src="https://picsum.photos/id/58/800" alt="">
                    <h3>Product 1</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="full-width">
        <div class="fixed-width">
            <div class="row">
                <div class="col-12">
                    <h2>聯絡我們</h2>
                </div>
                <div class="col-md-6 col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8978139887818!2d121.56224401495157!3d25.03754168397064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb9dc73545d%3A0x6513f5fb17ad1f67!2z6Ie65YyX5biC5pS_5bqc!5e0!3m2!1szh-TW!2stw!4v1596607802671!5m2!1szh-TW!2stw" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-6 col-12">
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                            11008台北市信義區市府路1號
                        </li>
                        <li>
                            <i class="fas fa-phone-alt fa-2x"></i>
                            +886227208889
                        </li>
                        <li>
                            <i class="fas fa-clock fa-2x"></i>
                            8:30-17:00
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="form" class="fixed-width">        
        <div class="row">
            <div class="col-md-8 col-10">
                <form action="">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="text" id="mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone">電話</label>
                        <input type="text" id="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="content">內容</label>
                        <textarea id="content" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="送出" class="btn">
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-6 col-12">
                COPYRIGHTS &copy; 2020
                <a href="#">使用條款</a>
                <a href="#">隱私權政策</a>
                <a href="#">免責聲明</a>
            </div>
            <div class="col-md-6 col-12 t-right">
                Design By Qwerty
            </div>
        </div>
    </footer>
</body>
</html>