* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Gill Sans MT","Microsoft Jhenghei";
	box-sizing: border-box;
}
img {
	width: 100%;
	vertical-align: top;
	/* display: block; */
}
.t-left {
	text-align: left;
}
.t-center {
	text-align: center;
}
.t-right {
	text-align: right;
}
.t-justify {
	text-align: justify;
}
@media (min-width: 600px){
	.t-sm-left {
		text-align: left;
	}
	.t-sm-center {
		text-align: center;
	}
	.t-sm-right {
		text-align: right;
	}
	.t-sm-justify {
		text-align: justify;
	}
}
@media (min-width: 960px){
	.t-md-left {
		text-align: left;
	}
	.t-md-center {
		text-align: center;
	}
	.t-md-right {
		text-align: right;
	}
	.t-md-justify {
		text-align: justify;
	}
}
@media (min-width: 1200){
	.t-lg-left {
		text-align: left;
	}
	.t-lg-center {
		text-align: center;
	}
	.t-lg-right {
		text-align: right;
	}
	.t-lg-justify {
		text-align: justify;
	}
}
.order-1 {order:1;}
.order-2 {order:2;}
.order-3 {order:3;}
.order-4 {order:4;}
.order-5 {order:5;}
.order-6 {order:6;}
@media(min-width:600px){
	.order-sm-1 {order:1;}
	.order-sm-2 {order:2;}
	.order-sm-3 {order:3;}
	.order-sm-4 {order:4;}
	.order-sm-5 {order:5;}
	.order-sm-6 {order:6;}
}
@media(min-width:960px){
	.order-md-1 {order:1;}
	.order-md-2 {order:2;}
	.order-md-3 {order:3;}
	.order-md-4 {order:4;}
	.order-md-5 {order:5;}
	.order-md-6 {order:6;}
}
@media(min-width:1200px){
	.order-lg-1 {order:1;}
	.order-lg-2 {order:2;}
	.order-lg-3 {order:3;}
	.order-lg-4 {order:4;}
	.order-lg-5 {order:5;}
	.order-lg-6 {order:6;}
}