* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Gill Sans MT","Microsoft Jhenghei";
	box-sizing: border-box;
}
img {
	width: 100%;
	vertical-align: top;
	/* display: block; */
}
.t-left {
	text-align: left;
}
.t-center {
	text-align: center;
}
.t-right {
	text-align: right;
}
.t-justify {
	text-align: justify;
}
@media (min-width: 600px){
	.t-sm-left {
		text-align: left;
	}
	.t-sm-center {
		text-align: center;
	}
	.t-sm-right {
		text-align: right;
	}
	.t-sm-justify {
		text-align: justify;
	}
}
@media (min-width: 960px){
	.t-md-left {
		text-align: left;
	}
	.t-md-center {
		text-align: center;
	}
	.t-md-right {
		text-align: right;
	}
	.t-md-justify {
		text-align: justify;
	}
}
@media (min-width: 1200){
	.t-lg-left {
		text-align: left;
	}
	.t-lg-center {
		text-align: center;
	}
	.t-lg-right {
		text-align: right;
	}
	.t-lg-justify {
		text-align: justify;
	}
}