<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .complete {
            text-decoration: line-through;
            color: #ccc;
        }

    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input"><button @click="add()">新增項目</button>    
        <ul>
            <li v-for="(list,idx) in lists" :class="{complete: list.isComplete}">
                <span @click="complete(idx)">{{list.name}} -- {{list.id}}</span>
                <a href="#" @click.prevent="del(idx)">刪除</a>
            </li>
        </ul>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    lists:[
                        {
                            id:1,
                            name:'list 1',
                            isComplete: false
                        },
                        {
                            id:2,
                            name:'list 2',
                            isComplete: true
                        },
                        {
                            id:3,
                            name:'list 3',
                            isComplete: false
                        }
                    ],
                    input: '',
                    test: false
                }
            },
            methods:{
                add(){
                    this.lists.push({
                        id: Date.now(),
                        name:this.input,
                        isComplete: false
                    });
                    this.input=''
                },
                del(idx){
                    this.lists.splice(idx,1);
                },
                complete(idx){
                    console.log(this.lists[idx].isComplete);
                    this.lists[idx].isComplete = !this.lists[idx].isComplete
                }
            }
        }).mount('#app')
    </script>
</body>
</html>